<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
    <!-- side logo then user name then fearture (category, products, uses, orders)? -->
    <div class="side-logo">
      <img src="logo.png" alt="Company Logo">
    </div>
    <div class="user-name">
      <p>Welcome, John Smith</p>
    </div>
    <div class="feature">
      <ul>
        <li>Categories</li>
        <li>Products</li>
        <li>Orders</li>
        <li>Users</li>
        <li>Costomer</li>

      </ul>
    </div>
     </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>