<div class="container-fluid">
    <p class="p-5 m-4" style="font-size: 1.5rem;font-weight: 500;">Categories</p>

    <table mat-table [dataSource]="categories" *ngIf="categories.length" class="mat-elevation-z8 demo-table">
        <!-- id column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let category">{{ category.id }}</td>
        </ng-container>
        <!-- name column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Category Name</th>
          <td mat-cell *matCellDef="let category">{{ category.name }}</td>
        </ng-container>
      <!-- actio column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let category">    
            <button mat-icon-button color="primary" aria-label="edit">
            <mat-icon>edit</mat-icon>
            </button>
          <button mat-icon-button color="warn" (click)="deleteCategory(category.id)" aria-label="delete">
            <mat-icon>delete</mat-icon>
          </button>
        
        </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <p *ngIf="!categories.length" class="no-data">No data</p>
</div>
<!-- <li>
  <button mat-raised-button (click)="openDialog()">Pick one</button>
</li> -->