<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <!-- required -->
    <mat-error *ngIf="form.controls['name'].hasError('required')">
      Category name is required.
    </mat-error>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-raised-button [disabled]="form.invalid" color="primary" type="submit" [mat-dialog-close]="true">
        Update
      </button>
    </div>

  </form>
</div>